extends layout

block content
	#blog
		form#newpost
			input(type="text", name="title", placeholder="Title")
			input(type="text", name="content",placeholder="Content")
			input(type="submit")
		ul#posts

	script#post-template(type="text/template").
		<h3><%= title %></h3>
		<p><%= content %></p>
		<div>
			<button class="delete">Delete</button
		</div>

	script(type="text/javascript").
		var bootstrapPosts = !{JSON.stringify(posts)};
